.item {
    width: 25%;
    float: left;
    background:#dd2266;
    height: 80px;
    border:solid 1px white;
}
.item.w2{
    width:50%;
    background:#0070ff;
    height: 140px;
    border:solid 1px white;
}
.item.w3{
    width:12.5%;
    background:orange;
    height: 100px;
    border:solid 1px white;
}
.masonry{
    background:#EEE;
    max-width:900px;
    margin: 0 auto;
}
/*Change width based on media queries for different size screens and/or printing*/
/*Width of .grid-sizer should be equal to smallest .item width and all items should be multiples of that smallest width.
    This will fill the width of the Masonry wall best*/
.grid-sizer{
    /*Width of columns inside of .masonry that will dictate how items fill up*/
    /*8 columns for widest*/
    width:12.5%;
}
/*copy bootstrap media queries OR REFER TO http://stackoverflow.com/questions/13550541/media-min-width-max-width*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }