.section{
    padding-top:65px;
}
p{
    text-indent:1em;
}
.signed{
    text-align: right;
    font-style: italic;
    font-size: .9em;
}
.thumbnail{
    border-color:#e5e5e5;

}
.caption{
    background: #e5e5e5;
    border-radius: 2px;
}
article{
    max-height:14.7em;
}
@media print{
    /*decrease image size to save paper*/
    .thumbnail img{
        height: 200px;
    }
    /*show entire summary for book*/
    article{
        height:auto !important;
    }
    /*hide Read more... and Read less...*/
    .caption a{
        display:none !important;
    }
}