html{
    position:relative;
    min-height:100%;
}
body{
    margin-bottom:25px;
}
.section{
    padding-top:1.5em;
}
#montage{
    padding-top:1.5em;
    margin-bottom:1.5em;
}
#home,
#list2015{
    padding-top: 4em;
}
.summary{
    text-indent:1em;
}
.signed{
    text-align: right;
    font-style: italic;
    font-size: .9em;
}
.summerSocial .fb-share-button,
.summerSocial .twitter-share-button{
    vertical-align: middle;
}
.thumbnail{
    border-color:#e5e5e5;

}
.caption{
    background: #e5e5e5;
    border-radius: 2px;
}
.booktitle{
    font-style:italic;
}
article{
    max-height:14.7em;
}
.footer {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 25px;
    background-color: #f8f8f8;
    border-top:1px solid transparent;
    border-color:#e7e7e7;
}
.footer .container{
    background-color: #f8f8f8;
}
@media print{
    /*decrease image size to save paper*/
    .thumbnail img{
        height: 200px;
    }
    /*show entire summary for book*/
    article{
        height:auto !important;
    }
    /*hide Read more... and Read less...*/
    .caption a{
        display:none !important;
    }
}