img{
  max-height: 200px;
  margin: 10px;
  border: 1px solid #BDCAE8;
  border-radius: 10px;
}

body *{
  border: 1px solid rgba(150, 200, 250, .15);
  background: rgba(150, 200, 250, .15);
}

html{
  font-size: 16px;
}

body{
  font-size: 16px;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
h1{
  font-size: 48px;
  font-size: 3rem;
}

header{
  margin: 20px 5% 0 5%;
  position: fixed;
  width: 90%;
  height: 40px;
}
header *{
  display: inline;
}

.flex__parent{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-column__parent{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row__parent{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex__parent-wrap{
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex__parent-center{
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__parent-around{
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.flex__parent-between{
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex__parent-end{
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex__parent-align-end{
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex__parent-align-start{
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex__self-center{
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.flex__self-stretch{
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}

.flex__self-end{
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.flex__item-sm-sq{
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100px;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  height: 100px;
  margin: 5px;
}

.flex__item-md-sq{
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 175px;
      -ms-flex: 0 1 175px;
          flex: 0 1 175px;
  height: 175px;
  margin: 5px;
}

.flex__item-lg-sq{
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 300px;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  height: 300px;
  margin: 5px;
}

.flex__item-xlg{
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 450px;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
  height: 300px;
  margin: 5px;
}

#profile-content #masthead{
  height: 300px;
  background: url("/assets/img/bath-banner1.jpg");
}

p.review-text{
  width: 500px;
}
