body{
    padding-top: 50px;
    background:#00B4E5;
}
.mainContent{
    background:#ffffff;
}
.readingListLogo{
    padding-top:1em;
}
.img-responsive {
    margin: 0 auto;
    width: 100% \9;
}
.yCenter {
    margin-top:4em;
}
.popover{
    max-width:400px;
}