.section{
    padding-top:65px;
}
.signed{
    text-align: right;
    font-style: italic;
    font-size: .9em;
}
p{
    text-indent:1em;
}
@media print{
   .thumbnail{
        position:relative !important;
        display:block !important;
        left:0 !important;
        top:auto !important;
        float:left;
        height:auto;
    }
    /*decrease image size to save paper*/
    .thumbnail img{
        height: 200px;
    }
    /*show entire summary for book*/
    article{
        height:auto !important;
    }
    /*hide Read more... and Read less...*/
    .caption a{
        display:none !important;
    }
}
@media screen{
    article{
        min-height:14.5em;
    }
}
.caption{
    background: #e5e5e5;
    border-radius: 2px;
}
.thumbnail{
    border:none;
}