.badHighlight{
    background:red;
}
.goodHighlight{
    background:lightgreen;
}
.noDisplay{
    display:none;
}
#catGameContainer{

}
.modal{

}
.flexContainerRow{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
    height:15vh;

}
.gameStatsText{
    height:4em;
}
#catGameheader{
    width:100%;
}
#gameStatsLeft{
    margin-right: auto;
    height:90%;
}
#userCat {
    overflow:hidden;
    height: 100%;
    width:auto;
    border-radius:100%;
    background: #FF00FF;
}
#userCat img{
    max-height:100%;
}
#cutenessLevel{

}
#commonNameBanner{

}
#gameStatsRight{
    margin-left: auto;
}
#gameStatsRight>div{

}
.gameStatsText>h4{
    float:right;
}
.gameStatsText>p{
    display: inline;
    font-size: 3em;
    font-weight: 900;
   -webkit-text-fill-color: white;
   -webkit-text-stroke: 4px black;
}
#timer{

}
#killCounter{

}
#catGameField{
    width:100%;
    max-height:85vh;
}
#huntingField{
    width: 100%;
    height:84vh;
    background-image: url('http://jon.tips/fun%20images/catGrass.svg');
    background-size: 100px;
    background-position: top;
}
#grassFooter{
    width:100%;
    height:20vh;
    position:fixed;
    bottom:0;
    background-image: url("http://jon.tips/fun%20images/grassTops.png"),
                    -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1),  rgba(255, 255, 255, 0));
    background-image: url("http://jon.tips/fun%20images/grassTops.png"),
                    linear-gradient(to top, rgba(0, 0, 0, 1),  rgba(255, 255, 255, 0));
    background-size: 300px 500px;
    z-index: 2;
}
.prey{
    position:absolute;
    width:100px;
    height:100px;
    background-image: url('http://jon.tips/fun%20images/catGrass.svg');
}
.hiddenPrey{

    -webkit-animation: disappear 3s forwards ease;

            animation: disappear 3s forwards ease;
}
.foundPrey{
    -webkit-animation: windBlowing 3s 3 linear;
            animation: windBlowing 3s 3 linear;
}
.caughtPrey{
    background:red;
    -webkit-animation-fill-mode:forwards;
            animation-fill-mode:forwards;
    -webkit-animation: disappear 1.5s forwards ease ;
            animation: disappear 1.5s forwards ease ;
}
#gameResults{
    text-align: center;
    background-color: white;
}
@-webkit-keyframes windBlowing{
    75%{-webkit-transform: translate(8px) rotate(5deg);transform: translate(8px) rotate(5deg)}
    25%{-webkit-transform: translate(-8px) rotate(-5deg);transform: translate(-8px) rotate(-5deg)}
}
@keyframes windBlowing{
    75%{-webkit-transform: translate(8px) rotate(5deg);transform: translate(8px) rotate(5deg)}
    25%{-webkit-transform: translate(-8px) rotate(-5deg);transform: translate(-8px) rotate(-5deg)}
}

@-webkit-keyframes disappear{
    100%{
        opacity:0;
        display:none;
    }
}

@keyframes disappear{
    100%{
        opacity:0;
        display:none;
    }
}