#catGameContainer{
    width:100vw;
    height:100vh;
}
.modal{

}
.flexContainerRow{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    height:20vh;
}
#catGameheader{

}
#gameStatsLeft{
    margin: 0 auto 0 1em;
    height:90%;
}
#gameStatsRight{
    margin: 0 1em 0 auto;
}
#userCat {
    overflow:hidden;
    height: 100%;
    width:auto;
    border-radius:100%;
    background: #FF00FF;
}
#userCat img{
    max-width:100%;
    max-height:100%;
}
#cutenessLevel{

}
#commonNameBanner{

}
#timer{

}
#killCounter{

}
#catGameField{
    width:100vw;
    height:80vh;
}
#huntingField{
    width: 100%;
    height:79vh;
    background-image: url('http://jon.tips/fun%20images/catGrass.svg');
    background-size: 100px;
    background-position: top;
}
#grassFooter{
    width:100%;
    height:15vh;
    position:fixed;
    bottom:0;
    background-image: url("http://jon.tips/fun%20images/grassTops.png"),
                    linear-gradient(to top, rgba(0, 0, 0, 1),  rgba(255, 255, 255, 0));
    background-size: 300px 500px;
    z-index: 2;
}
.gameStatsText{
    text-align: center;

}
.gameStatsText>h4,
.gameStatsText>p{
    margin:.25em;
}